In [45]:
import numpy as np
import pandas as pd

In [78]:
uci_df = pd.read_csv('OnlineNewsPopularity.csv')

In [79]:
scrape_df = pd.read_csv('mashable_scrape.csv')

In [80]:
scrape_df.head()

,url,content,title,num_tags
0,http://mashable.com/2013/01/07/amazon-instant-...,Having trouble finding something to watch on A...,Amazon's Streaming Video Library Now a Little ...,4
1,http://mashable.com/2013/01/07/ap-samsung-spon...,The Associated Press is the latest news organi...,AP's Twitter to Begin Displaying Sponsored Tweets,3
2,http://mashable.com/2013/01/07/apple-40-billio...,It looks like 2012 was a pretty good year for ...,Apple's App Store Passes 40 Billion Downloads,5
3,http://mashable.com/2013/01/07/astronaut-notre...,"When it comes to college football, NASA astron...",This Astronaut Is Rooting for Notre Dame Tonight,4
4,http://mashable.com/2013/01/07/att-u-verse-apps/,LAS VEGAS — Sharing photos and videos on your ...,New U-Verse Apps Simplify Sharing Photos and V...,5

In [81]:
len(uci_df) == len(scrape_df)

True

In [82]:
uci_df.columns.values

array(['url', ' timedelta', ' n_tokens_title', ' n_tokens_content',
       ' n_unique_tokens', ' n_non_stop_words',
       ' n_non_stop_unique_tokens', ' num_hrefs', ' num_self_hrefs',
       ' num_imgs', ' num_videos', ' average_token_length',
       ' num_keywords', ' data_channel_is_lifestyle',
       ' data_channel_is_entertainment', ' data_channel_is_bus',
       ' data_channel_is_socmed', ' data_channel_is_tech',
       ' data_channel_is_world', ' kw_min_min', ' kw_max_min',
       ' kw_avg_min', ' kw_min_max', ' kw_max_max', ' kw_avg_max',
       ' kw_min_avg', ' kw_max_avg', ' kw_avg_avg',
       ' self_reference_min_shares', ' self_reference_max_shares',
       ' self_reference_avg_sharess', ' weekday_is_monday',
       ' weekday_is_tuesday', ' weekday_is_wednesday',
       ' weekday_is_thursday', ' weekday_is_friday',
       ' weekday_is_saturday', ' weekday_is_sunday', ' is_weekend',
       ' LDA_00', ' LDA_01', ' LDA_02', ' LDA_03', ' LDA_04',
       ' global_subjectivity', ' global_sentiment_polarity',
       ' global_rate_positive_words', ' global_rate_negative_words',
       ' rate_positive_words', ' rate_negative_words',
       ' avg_positive_polarity', ' min_positive_polarity',
       ' max_positive_polarity', ' avg_negative_polarity',
       ' min_negative_polarity', ' max_negative_polarity',
       ' title_subjectivity', ' title_sentiment_polarity',
       ' abs_title_subjectivity', ' abs_title_sentiment_polarity',
       ' shares'], dtype=object)

In [99]:
fields = ['url',
          ' num_imgs',
          ' num_videos',
          ' data_channel_is_lifestyle',
          ' data_channel_is_entertainment', 
          ' data_channel_is_bus',
          ' data_channel_is_socmed', 
          ' data_channel_is_tech',
          ' data_channel_is_world',
          ' weekday_is_monday',
          ' weekday_is_tuesday',
          ' weekday_is_wednesday',
          ' weekday_is_thursday', 
          ' weekday_is_friday',
          ' weekday_is_saturday',
          ' weekday_is_sunday',
          ' is_weekend',
          ' shares']

In [101]:
data_for_merge = uci_df[fields]

In [92]:
data_for_merge.head()

,url,num_imgs,num_videos,data_channel_is_lifestyle,data_channel_is_entertainment,data_channel_is_bus,data_channel_is_socmed,data_channel_is_tech,data_channel_is_world,weekday_is_monday,weekday_is_tuesday,weekday_is_wednesday,weekday_is_thursday,weekday_is_friday,weekday_is_saturday,weekday_is_sunday,is_weekend,shares
0,http://mashable.com/2013/01/07/amazon-instant-...,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,593
1,http://mashable.com/2013/01/07/ap-samsung-spon...,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,711
2,http://mashable.com/2013/01/07/apple-40-billio...,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1500
3,http://mashable.com/2013/01/07/astronaut-notre...,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1200
4,http://mashable.com/2013/01/07/att-u-verse-apps/,20,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,505

In [103]:
fix_column_names = [w.strip() for w in fields]

In [104]:
data_for_merge.columns = fix_column_names

In [105]:
data_for_merge.columns

Index([u'url', u'num_imgs', u'num_videos', u'data_channel_is_lifestyle',
       u'data_channel_is_entertainment', u'data_channel_is_bus',
       u'data_channel_is_socmed', u'data_channel_is_tech',
       u'data_channel_is_world', u'weekday_is_monday', u'weekday_is_tuesday',
       u'weekday_is_wednesday', u'weekday_is_thursday', u'weekday_is_friday',
       u'weekday_is_saturday', u'weekday_is_sunday', u'is_weekend', u'shares'],
      dtype='object')

In [106]:
mash_df = scrape_df.merge(data_for_merge, on='url', how='left')

In [122]:
mash_df.head(1)

,url,content,title,num_tags,num_imgs,num_videos,data_channel_is_lifestyle,data_channel_is_entertainment,data_channel_is_bus,data_channel_is_socmed,...,data_channel_is_world,weekday_is_monday,weekday_is_tuesday,weekday_is_wednesday,weekday_is_thursday,weekday_is_friday,weekday_is_saturday,weekday_is_sunday,is_weekend,shares
0,http://mashable.com/2013/01/07/amazon-instant-...,Having trouble finding something to watch on A...,Amazon's Streaming Video Library Now a Little ...,4,1,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,593

In [117]:
mash_df_final = mash_df[mash_df['content'].notnull()]

In [121]:
len(mash_df_final)

39494

In [120]:
mash_df_final.to_csv('mashable_final.csv', 
                   index=False,
                   header=True)